.mahal { 
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  color: purple;
  cursor: pointer;
  padding: 20px;
  width: 100vw;
  animation: blink 3s linear infinite;
}

.hide{ 
  color: rgba(0, 0, 0, 0);
  transition: 0.5s ease;
}

