/* import font  C:\Users\kercwin\code\dev\meow\public\MonumentGrotesk-Regular.ttf*/
@font-face {
    font-family: 'Monument Grotesk';
    src: url('../public/MonumentGrotesk-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Expose Regular';
    src: url('../public/Expose-Regular.otf') format('opentype');
}

* { 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a  {
  text-decoration: none;
  color: inherit;
}

li  {
  list-style: none;
}